charset "UTF-8";

/* Estilos para Telas*/

* {
    margin: 0px;
    padding: 10px;
}

html {
    font-family: Arial, Helvetica, sans-serif
    font-size: 1em;
    
}

header {
    background-color: aquamarine;
}

header > h1 {
    text-align: center;
} 

menu li {
    background-color: gray;
    color: white;
    display: inline-block;
    padding: 10px;
}

menu ul {
    list-style-type: none;
    background-color: brown;
}

article {
    width: 600px;
    display: block;
    margin: auto;   
}

