@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
}
header > h1 {
    padding: 10px;
    text-align: center;
}

i#burger {
    background-color: rgb(54, 42, 42);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

i#burger:hover {
    background-color: aliceblue;
    color: black;
}

menu {
    display: none;
}

/*tirar as bolinhas do menu*/
menu > ul {
    list-style-type: none;
}

/*configurar o link q esta dentro do menu / usamos o sinal > p colocar na ordem */
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;  
    text-align: center;
    background-color: rgb(68, 57, 57);
    color: white;
    border-top: 2px solid rgb(77, 66, 66);

}

menu > ul > li > a:hover {
    background-color: rgb(148, 133, 133);

}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}

article > h2 {
    padding-bottom: 20px;

}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

